body{
    background-color: #e6f3f8;
    margin: 5px;
}
/* les liens et listes*/
nav{
    background-color: rgb(173, 173, 233);
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    
}
.title{
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none; 
}
.burger{
    display: none;
    cursor: pointer;
    gap: 4px;
    flex-direction: column;
}

.burger span{
    height: 3px;
    width: 30px;
    background-color: rgb(29, 86, 190);
    border-radius: 5px;
}
@media (max-width:768px){
    .lien {
        display: none;
        position: absolute;
        top: 25px;
        right: 5px;
        background-color: rgb(173, 173, 233);
        flex-direction: column;
        width: 40%;
        border: 2px solid rgb(173, 173, 233);

    }
    .lien li{
        gap: 5px;
        padding: 10px;
        text-align: center;
        border: 1px solid rgb(82, 82, 185);
        border-radius: 5px;
    }
   
    .burger{
        display: flex;
    }
    .lien.active{
        display: flex;
    }


}


nav .lien li a:hover{
    color: white;
    
}
nav .lien li a{
    color: rgb(19, 22, 29);
    transition: color 0.3s;
    text-decoration: none;
    
}
nav .lien li{
    font-size: 20px;
    font-weight: bold;
   
    
}



/*le hero*/
.hero{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-size: cover;
    background-image: url('land.jpg');
    justify-content: space-around;
    z-index: 3;
    padding: 20px;
}

.hero div h2{
    font-size: 30px;
    
}
.hero div h1, .hero div h2{
    color: black;
}
/* le hero à voir*/
.hero .accueil{
    width: 300px;
    margin-top: 20px;
   
}
.hero div span{
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.hero div h1:hover span{
    color: rgb(221, 129, 23);
}
.hero .accueil h3{
    color: white;
    font-family:Verdana;
    font-weight: bold;
    font-size: 30px;
}
.hero div img{
   
    width: 300px;
    height: 300px;
    background-color: rgb(153, 198, 228);
    border-radius: 50%;
    border: 5px solid white;
    
}
/*le contenu*/
.titre{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-top: 80px;
    color: rgb(7, 42, 241);
}
.competence, .projet{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}
.competence .cp, .projet .pj{
    box-shadow:0 4px 8px rgba(1, 38, 41, 0.4) ;
    width: 320px;
    padding: 20px;
    border-radius: 2%;
    margin-top: 10px;
}
.competence .cp{
    background-color: rgb(155, 148, 252);
}
.projet .pj img{
    width: 100%;
    border-radius: 3%;
    text-align: center;
}
.projet .pj:hover img{
    transform: translate(-30%, -30%) scale(1.1);
}
.cp ul li{
    list-style: '📍';
}
/*formuaire de contact*/
.contact{
    text-align: center;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input, form textarea{
    border: 1px solid rgb(85, 85, 189);
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
form button{
    outline: none;
    border: none;
    background-color: rgb(7, 42, 241);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 20%;
}
form button:hover{
    background-color: rgb(18, 221, 35);
    transition: 0.5s;
}
.canaux{

    justify-content: space-around;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.canaux div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;

}





/*footer*/
footer{
    background-color: rgb(104, 102, 102);
    color: white;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}
footer p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
footer p a{
    text-decoration: none;
    color: white;
}
